### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [8]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame. source from Slack
purchase_data = pd.read_csv(file_to_load)
df = pd.DataFrame
print(purchase_data)

     Purchase ID             SN  Age  Gender  Item ID  \
0              0        Lisim78   20    Male      108
1              1    Lisovynya38   40    Male      143
2              2     Ithergue48   24    Male       92
3              3  Chamassasya86   24    Male      100
4              4      Iskosia90   23    Male      131
..           ...            ...  ...     ...      ...
775          775     Aethedru70   21  Female       60
776          776         Iral74   21    Male      164
777          777     Yathecal72   20    Male       67
778          778        Sisur91    7    Male       92
779          779      Ennrian78   24    Male       50

                                     Item Name  Price
0    Extraction, Quickblade Of Trembling Hands   3.53
1                            Frenzied Scimitar   1.56
2                                 Final Critic   4.88
3                                  Blindscythe   3.27
4                                         Fury   1.44
..                                         ...    ...
775                                       Wolf   3.54
776                           Exiled Doomblade   1.63
777      Celeste, Incarnation of the Corrupted   3.46
778                               Final Critic   4.19
779                                       Dawn   4.60

[780 rows x 7 columns]

## Player Count

* Display the total number of players

In [9]:
#Display the total number of players
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.nunique.html
total_players = purchase_data['SN'].nunique()
pd.DataFrame({"Total Players": [total_players]})

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
#Run basic calculations to obtain number of unique items, average price, etc.S
number_unique_items = purchase_data['Item ID'].nunique()
#https://docs.python.org/3/library/statistics.html
average_price = purchase_data['Price'].mean()
#GeeksforGeekswww.geeksforgeeks.org â€º python-string-count
number_purchases = purchase_data['Purchase ID'].count()
#sum
total_revenue = purchase_data ['Price'].sum()

#Create a summary data frame to hold the result
summary_df = pd.DataFrame({"Number of Unique Items": [number_unique_items],
    "Average Price": [average_price],
    "Number of Purchases": [number_purchases],
    "Total Revenue": [total_revenue]})

#Optional: give the displayed data cleaner formatting
#https://www.kite.com/python/answers/how-to-format-a-number-as-a-percentage-in-python
summary_df["Average Price"] = summary_df["Average Price"].map("${:,.2f}".format)
summary_df["Total Revenue"] = summary_df["Total Revenue"].map("${:,.2f}".format)

#Display the summary data frame
summary_df[["Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"]]

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [16]:
gender_df = purchase_data.groupby(["Gender"])

# Find number of unique names grouped by gender
gender_count = gender_df["SN"].nunique()

# Find percentages for each gender
gender_percentage = gender_count / total_players *100

# Create a new data frame to display results
gender_demographics = pd.DataFrame({"Total Count": gender_count,
                                    "Percentage of Players":gender_percentage})
# Reset index value to none
gender_summary = gender_demographics.rename_axis([""])

# Sort total count values 
gender_summary = gender_summary.sort_values("Total Count", ascending = False)

# Format percentage values
gender_summary["Percentage of Players"] = gender_summary["Percentage of Players"].map("{:.2f}%".format)
gender_summary

                       Total Count Percentage of Players

Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender

* Create a summary data frame to hold the results

* Optional: give the displayed data cleaner formatting

* Display the summary data frame

In [50]:
#https://realpython.com/pandas-groupby/
#Purchase count
gender_purchase_count= df.groupby(["Gender"]).count()["Purchase ID"]

# Find average count by each group
avg_purchase = df.groupby(["Gender"]).mean()["Price"]

# Find total purchase value for each gender
total_purchase = df.groupby(["Gender"]).sum()["Price"]

# Find average purchase total per person by gender; by dividing each genders total purchases to unique gender count
avg_purchase_total = total_purchase / gender_demographics['Total Count']
avg_purchase_total

# Create a data frame to display results from the calculations
purchasing_df = pd.DataFrame({"Purchase Counts": gender_purchase_count,
                             "Average Purchase Price": avg_purchase,
                             "Total Purchase Value": total_purchase,
                             "Average Total Purchase per Person": avg_purchase_total})

# Format average purchase price, total purchase values and average total purchase values
purchasing_df["Average Purchase Price"]= purchasing_df["Average Purchase Price"].map("${:.2f}".format)
purchasing_df["Average Total Purchase per Person"]= purchasing_df["Average Total Purchase per Person"].map("${:.2f}".format)
purchasing_df["Total Purchase Value"]= purchasing_df["Total Purchase Value"].map("${:.2f}".format)
purchasing_df

TypeError: You have to supply one of 'by' and 'level'

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [21]:
#Establish bins for age
#https://stackoverflow.com/questions/45751390/pandas-how-to-use-pd-cut
#https://www.python-course.eu/pandas_python_binning.php


# Create bins and label lists acording to min age 7 and max age 45 to hold age data accordingly
bins = [5, 9.9, 14.9, 19.9 , 24.9, 29.9, 34.9, 39.9, 99]
label_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Create a new column age range, for ages and put it in the original data frame
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], bins, labels = label_names)

# Group data frame by age ranges to set it as index value, and calculate age count for each age range
age_df = purchase_data.groupby(["Age Ranges"])

# Calculate age count for unique name values for age labels 
age_count = age_df["SN"].nunique()

# Calculate the numbers and percentages by age group
age_percentage = age_count / total_players *100

# Create a data frame to display results in a tabular format
age_demographic_df = pd.DataFrame({"Total Count": age_count,
                           "Percentage of Players": age_percentage})

# Format percentage values and change index name as none
age_demographic_df = age_demographic_df.rename_axis([""])
age_demographic_df["Percentage of Players"] = age_demographic_df["Percentage of Players"].map("{:.2f}%".format)
age_demographic_df

       Total Count Percentage of Players

<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#Bin the purchase_data data frame by age
# Bin the purchase_data data frame by age
# recycle above df

# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
purchase_count = age_df["Purchase ID"].count()
average_purchase_price = age_df["Price"].mean()
total_purchase_amount = age_df["Price"].sum()
avg_total_purchase_person = total_purchase_amount / count_age

# Create a summary data frame to hold the results
age_df = pd.DataFrame({"purchase count": purchase_count,
                                "avg. purchase price": average_purchase_price,
                                "Total Purchase Amount": total_purchase_amount,
                                "Avg Total Purchase per Person": avg_total_purchase_person})

# Optional: give the displayed data cleaner formatting
age_df["avg. purchase price"] = age_df["avg. purchase price"].map("${:,.2f}".format)
age_df["Total Purchase Amount"] = age_df["Total Purchase Amount"].map("${:,.2f}".format)
age_df["Avg Total Purchase per Person"] = age_df["Avg Total Purchase per Person"].map("${:,.2f}".format)

# Display the summary data frame
age_df[["purchase count", "avg. purchase price", "Total Purchase Amount", "Avg Total Purchase per Person"]]

NameError: name 'age_df' is not defined

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [34]:
top_spenders_df = purchase_data.groupby(["SN"])

purchase_count = top_spenders_df["Purchase ID"].count()
avg_purchase_price = top_spenders_df["Price"].mean()
total_purchase_value = top_spenders_df["Price"].sum()

# Create a summary data frame to hold the results
spenders_df = pd.DataFrame({"Purchase Count": purchase_count,
                            "Average Purchase Price": avg_purchase_price,
                            "Total Purchase Value": total_purchase_value})

# Sort the total purchase value column in descending order
spenders_df = spenders_df.sort_values(["Total Purchase Value"], ascending=False)

# Optional: give the displayed data cleaner formatting
spenders_df["Average Purchase Price"] = spenders_df["Average Purchase Price"].map("${:,.2f}".format)
spenders_df["Total Purchase Value"] = spenders_df["Total Purchase Value"].map("${:,.2f}".format)

# Display a preview of the summary data frame
spenders_df[["Purchase Count", "Average Purchase Price", "Total Purchase Value"]].head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [61]:
#Retrieve the Item ID, Item Name, and Item Price columns
items_df = purchase_data[["Item ID", "Item Name", "Price"]]

# Group by Item ID and Item Name
items_df = items_df.groupby(["Item ID", "Item Name"])

# Perform calculations to obtain purchase count, item price, and total purchase value
purchase_count = items_df["Item ID"].count()
item_price = items_df["Price"].mean()
total_purchase_value = items_df["Price"].sum()

# Create a summary data frame to hold the results
items_df = pd.DataFrame({"Purchase Count": purchase_count,
                         "Price": item_price, 
                         "Total Purchase Value": total_purchase_value})

# Sort the purchase count column in descending order
items_df = items_df.sort_values(["Purchase Count"], ascending=False)

# Optional: give the displayed data cleaner formatting
items_df["Price"] = items_df["Price"].map("${:,.2f}".format)
items_df["Total Purchase Value"] = items_df["Total Purchase Value"].map("${:,.2f}".format)

# Display a preview of the summary data frame
items_df[["Purchase Count", "Price", "Total Purchase Value"]].head()

,,Purchase Count,Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [66]:

most_profit_items = items_df.sort_values(["Total Purchase Value"],
                                         ascending=False)



# Display a preview of the data frame
most_profit_items.head()

,,Purchase Count,Price,Total Purchase Value
Item ID,Item Name,,,
63,Stormfury Mace,2,$4.99,$9.98
29,"Chaos, Ender of the End",5,$1.98,$9.90
173,Stormfury Longsword,2,$4.93,$9.86
38,"The Void, Vengeance of Dark Magic",4,$2.37,$9.48
143,Frenzied Scimitar,6,$1.56,$9.36